PORT=4000
BALL_DONT_LIE_BASE=https://api.balldontlie.io/v1
BALL_DONT_LIE_API_KEY=
SPORTSBLAZE_API_KEY=
ADMIN_API_TOKEN=
ADMIN_BOOTSTRAP_PASSWORD=
CURRENT_SEASON=2025
SYNC_CRON=5 4 * * *
SCORE_CRON=0 14 * * *
SEASON_STATS_CRON=0 * * * *
DATA_DIR=./data

WECHAT_APPID=
WECHAT_SECRET=

MODE_REGULAR=false
MODE_PLUS58=false
MODE_MINUS58=false
MODE_MANAGER=true
