PORT=4000
BALL_DONT_LIE_BASE=https://api.balldontlie.io/v1
BALL_DONT_LIE_API_KEY=42d644a6-0cf9-4b76-90cd-87ed3e5d2b12
CURRENT_SEASON=2024
SYNC_CRON=5 4 * * *
SCORE_CRON=0 14 * * *
SEASON_STATS_CRON=0 * * * *
